/* From Uiverse.io by darrylnoakes */
.loader {
  --icon-count: 3;
  --inner-height: 4em;
  --ratio: 1/2;
 /* Customizable */
  --period: 1s;
 /* Customizable */
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--inner-height);
  width: calc(var(--inner-height) * var(--ratio) * var(--icon-count));
}

.loader .icon {
  width: calc(100% / var(--icon-count));
  height: calc(100% * var(--ratio));
  animation: loader-bounce02 var(--period) infinite linear;
}

/*
 * animation delay = (n - 1) / steps * period
 */

.loader .icon:nth-of-type(2) {
  animation-delay: calc(1 / 5 * var(--period));
}

.loader .icon:nth-of-type(3) {
  animation-delay: calc(2 / 5 * var(--period));
}

@keyframes loader-bounce02 {
  20% {
    /* Raise */
    transform: translateY(calc(-50% * (1 - var(--ratio))));
  }

  40% {
    /* Lower */
    transform: translateY(calc(50% * (1 - var(--ratio))));
  }

  60% {
    /* Keep centered */
    transform: translateY(0);
  }

  80% {
    /* Keep centered */
    transform: translateY(0);
  }
}